body{
	font: 12px Tahoma; text-align:center; background: url('../img/bg_pattern.gif')
}

table{
	width:100%;
}

tr{
	vertical-align:top;
}

a{
	text-decoration:none;
	color:#222222;
}

.frame{
	width: 980px; height: 100%; align:center; padding: 15px; margin:auto; background: url('../img/dark-grey-tile.png');
}

.head{
	border-bottom: 1px dotted #BBBBBB; height: auto; padding-bottom:10px;
}

.menubar{
	text-align:left
}

.menubar ul{
	list-style:none;
	padding:0px;
}

.menubar ul li{
	display:inline; padding: 10px; margin: 5px 10px 5px 0px; background-color:#FFDD33; border:2px solid #BBBBBB;
}

.menubar ul li.menuhighlight{
	background-color:#666666; 
	color:#FFDD33;
}

.menubar ul li.on{
	background-color:#666666; 
	color:#FFDD33;
}


.menubar ul li a.menuhighlight{
	background-color:#666666; 
	color:#FFDD33;
}

.highlight{
	border-bottom: 1px dotted #AAAAAA;
}

.borderline{
	border:3px solid #BBBBBB; 
}

.borderright{
	border-right: 1px dotted #BBBBBB; 
}

.right{
	text-align:right;
}

.middle{
	text-align: center;
}

.sitefont{
	color:#DDDDDD;
	font-weight:bold;
}

.contentfont{
	color:#666666;
}

.lang {
	margin-top:5px;	
}

.lang a {
	text-decoration:none;
	color:#BBBBBB;
	padding-bottom:2px;
}

.poster{
	height:470px; 
	overflow:hidden; 
	position:relative;
}

.slider { 
	position:absolute;
	width: 5000px;
	margin-left:-40px;
}

.slider li {
	list-style:none;
	display:inline;
	float:left;
}

.slider img{
	width:980px; height:470px; display:block;
}

.num {
	position: absolute; right:5px; bottom:1px;
	font-weight:bold;
}

.num li{
	float: left; color: #666666; text-align: center; line-height:16px; width:16px; height:16px; 
	cursor:pointer;
	overflow:hidden;
	margin:3px 1px;
	border:1px solid #666666;
	background-color:#FFDD33;
}

.num li.on{
	color:#FFDD33;
	border:1px solid #FFDD33;
	background-color:#666666;
}

.mainbody{
	margin: 15px 0px 15px 0px; height: auto;
}

.top_products{
	width:auto; height:auto; background-color:#D5D5D5; 
}

.product{
	width:auto; padding: 10px; margin:5px;background-color:#F5F5F5;
}

.prod_img1{
	background: url('../img/product.jpg') no-repeat; height: 84px;
}

.prod_img2{
	background: url('../img/product.jpg') no-repeat; height: 84px;
}

.prod_img3{
	background: url('../img/product.jpg') no-repeat; height: 84px;
}

.prod_title{
	text-align:left; padding-left:105px; line-height:16px; height:78%;
}

.more_detail{
	padding-left:100px; margin-top:5px;
	font-style:italic
}

.tail{
	border-top: 1px dotted #BBBBBB;
	height:auto; 
}

.tail div{
	margin: 5px; padding:5px; height:60px;
}

.tail div.copyright{
	border-top:1px dotted #BBBBBB;
	padding-top:8px;
	line-height:18px;
}


.subdiv {
	padding:10px;
	background-color: #D5D5D5;
}

.submenu{
	background-color:#EEEEEE;
	height:250px;
	margin-right:5px;
	border:2px solid #FFFFFF;
	padding:5px;
}	

.subcontent{
	background-color:#FFFFFF;
	height:413px;
	margin-left:5px;
	border:2px solid #EEEEEE;
	padding:5px;
}

.randomsector{
	background-color:#222222;
	height:140px;
	margin:10px 5px 0px 0px;
	border:2px solid #666666;
	padding:5px;
	color:#FFDD33; 
}

.submenubar{
	padding:0px;
	margin:5px;
}
.submenubar li{
	list-style:none;
	width:100%;
	display:block;
	background-color:#666666;
	height:auto;
	padding:15px 0px 15px 0px;
	margin-bottom:10px;
	border-right:2px solid #AAAAAA;
	border-bottom:2px solid #AAAAAA;
}

.submenubar a{
	color:#EEEEEE;
}

.submenubar li.submenuhighlight{
	background-color: #FFDD33;
	color:#666666;
	border-right:2px solid #888888;
	border-bottom:2px solid #888888;
}

.submenubar a.submenuhighlight{
	background-color: #FFDD33;
	color:#666666;
}

