body{
	font: 12px "Trebuchet MS",Verdana,Helvetica,Arial,sans-serif !important; text-align:center; background: url('../img/bg_pattern.gif')
}

table{
	width:100%;
}

tr{
	vertical-align:top;
}

a{
	text-decoration:none;
	color:#FFFFFF;
}

.frame{
	width: 980px; height: 100%; align:center; padding: 15px; margin:auto; background: url('../img/dark-grey-tile.png');
}

.head{
	border-bottom: 1px dotted #BBBBBB; height: auto; padding-bottom:10px;
}

.menubar{
	text-align:left
}

.menubar ul{
	list-style:none;
	padding: 10px 10px 10px 0px;
	float:left;
	margin:0px;
}

.menubar ul li{
	display:inline; padding: 8px 10px 8px 10px;
	margin-left: -4px;
	background: url('../img/blueSheen.jpg') repeat-x scroll center; 
	border-right:1px dotted #0D5995;
}

.menubar ul li.menuhighlight{
	background: url('../img/lightBlueSheen.jpg') repeat-x scroll center;
	cursor:pointer;
}

.menubar ul li.on{
	background: url('../img/lightBlueSheen.jpg') repeat-x scroll center; 
	cursor:pointer;
}

.menubar ul li.menuhighlight a{
	color:#D7E9F4;
}

.menubar ul li.on a{
	color:#D7E9F4;
}

.menubar ul li.last{
	border-right: 0px;
}

.highlight{
	border-bottom: 1px dotted #AAAAAA;
	vertical-align:bottom;
	font-style:italic;
}

.borderline{
	border:3px solid #BBBBBB; 
}

.borderright{
	border-right: 1px dotted #BBBBBB; 
}

.right{
	text-align:right;
}

.middle{
	text-align: center;
}

.left{
	text-align:left;
}

.sitefont{
	color:#DDDDDD;
	font-weight:bold;
}

.contentfont{
	color:#666666;
}

.lang {
	margin-top:5px;	
}

.lang a {
	text-decoration:none;
	color:#BBBBBB;
}

.poster{
	height:470px; 
	overflow:hidden; 
	position:relative;
}

.slider { 
	position:absolute;
	width: 5000px;
	margin-left:-40px;
}

.slider li {
	list-style:none;
	display:inline;
	float:left;
}

.slider img{
	width:980px; height:470px; display:block;
}

.num {
	position: absolute; right:5px; bottom:1px;
	font-weight:bold;
}

.num li{
	float: left; color: #666666; text-align: center; line-height:15px; width:15px; height:15px; 
	cursor:pointer;
	overflow:hidden;
	margin:3px 1px;
	border:1px solid #666666;
	background-color:#5DB0E6;
}

.num li.on{
	color:#5DB0E6;
	border:1px solid #5DB0E6;
	background-color:#666666;
	line-height:16px; width:16px; height:16px; 
}

.mainbody{
	margin: 15px 0px 15px 0px; height: auto;
}

.top_products{
	width:auto; height:auto; background-color:#D5D5D5; 
}

.product{
	width:auto; padding: 10px; margin:5px;background-color:#F5F5F5;
}

.prod_img1{
	background: url('../img/product.jpg') no-repeat; height: 84px;
}

.prod_img2{
	background: url('../img/product.jpg') no-repeat; height: 84px;
}

.prod_img3{
	background: url('../img/product.jpg') no-repeat; height: 84px;
}

.prod_title{
	text-align:left; padding-left:105px; line-height:16px; height:78%;
}

.more_detail{
	padding-left:100px; 
	margin-top:5px;
	font: 11px Tahoma;
}

.more_detail a{
	text-decoration: none;
	color: #888888;
}

.tail{
	border-top: 1px dotted #BBBBBB;
	height:auto; 
}

.tail div{
	margin: 5px 0px 5px 5px; padding: 5px 5px 5px 0px; height:60px; line-height:18px;
}

.tail a {
	text-decoration:none;
	color:#5DB0E6;
	margin-bottom:2px;
	font: 11px Tahoma;
	font-weight:bold;
}

.tail div.left{
	text-align:left;
	padding-left:5px;
	margin-left:5px;
}

.tail div.copyright{
	border-top:1px dotted #BBBBBB;
	padding-top:8px;
	line-height:18px;
}


.subdiv {
	padding:10px;
	background-color: #FFFFFF;
}

.subcontent{
	background-color:#FFFFFF;
	height:413px;
	margin-left:110px;
	border-top:2px solid #EEEEEE;
	padding:5px;
}

.randomsector{
	background-color:#222222;
	height:140px;
	margin:10px 5px 0px 0px;
	border:2px solid #666666;
	padding:5px;
	color:#5DB0E6; 
}

.submenubar ul{
	margin: 0px 0px 0px -40px;
	float:left;
}

.submenubar ul li{
	list-style:none;
	background-color:#666666;
	height:auto;
	padding:5px 5px 5px 10px;
	border-bottom:1px solid #AAAAAA;
	text-align:left;
	width:90px;
}

.submenubar a{
	color:#EEEEEE;
}

.submenubar li.submenuhighlight{
	background-color: #126AA9;
	color:#FFFFFF;
	border-right:2px solid #888888;
	border-bottom:2px solid #888888;
	cursor:pointer;
}

.submenubar li.submenuhighlight a{
	background-color: #126AA9;
	color:#FFFFFF;
}

.submenubar li.on{
	background-color: #126AA9;
	color:#FFFFFF;
	border-right:2px solid #888888;
	border-bottom:2px solid #888888;
	cursor:pointer;
}

.submenubar li.on a{
	background-color: #126AA9;
	color:#FFFFFF;
}

