<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location" value="classpath:com/laxcen/config/db.properties"></property>
	</bean>
    
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName" value="${db.driver}"></property>
        <property name="url" value="${db.url}"></property>
        <property name="username" value="${db.username}"></property>
        <property name="password" value="${db.password}"></property>
    </bean>
    
    <bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
	    <property name="dataSource" ref="dataSource"/>
	    <property name="mappingResources">
	      <list>
	        <value>com/laxcen/model/faq.hbm.xml</value>
	        <value>com/laxcen/model/faqGroup.hbm.xml</value>
	        <value>com/laxcen/model/article.hbm.xml</value>
	        <value>com/laxcen/model/image.hbm.xml</value>
	      </list>
	    </property>
	    <property name="hibernateProperties">
	      <value>
	        hibernate.dialect=org.hibernate.dialect.MySQL5Dialect
	        hibernate.show_sql=true
	        hibernate.current_session_context_class=thread
	      </value>
	    </property>
	</bean>    
</beans>
